<footer class="footer">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>Компания</li>
      <li>О компании</li>
      <li>Новости</li>
      <li>Карьера</li>
      <li>Корпоративное управление</li>
      <li>Пресс-центр</li>
      <li>Контакты</li>
    </ul>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>Проекты</li>
      <li>Отраслевые решения</li>
      <li>Республикаонского значения</li>
      <li>Смарт проекты</li>
      <li>Прочие</li>
    </ul>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>Услуги</li>
      <li>Центр обработки данных</li>
      <li>Для офиса</li>
      <li>Для бизнеса</li>
      <li>Для дома</li>
      <li>Операторам связи</li>
    </ul>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>Закупки</li>
      <li>Годовой план закупок</li>
      <li>Долгосрочный план закупок</li>
      <li>Открытый тендер</li>
      <li>Ценовые предложения</li>
      <li>Закупки Филиалов</li>
      <li>Ответственные лица</li>
    </ul>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>Приложение</li>
      <img src="../../../assets/images/svg/app-store.svg" alt="app-store" />
      <img src="../../../assets/images/svg/google-play.svg" alt="google-play" />
    </ul>
  </div>

  <hr class="delimiter" />

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <span class="title-social-networks">Мы в соцсетях</span>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <img fxFlexOffset="5" src="../../../assets/images/svg/vk.svg" alt="" />
        <img
          fxFlexOffset="5"
          src="../../../assets/images/svg/instagram.svg"
          alt=""
        />
        <img
          class="twitter"
          fxFlexOffset="5"
          src="../../../assets/images/svg/twitter.svg"
          alt=""
        />
        <img
          fxFlexOffset="5"
          src="../../../assets/images/svg/youtube.svg"
          alt=""
        />
        <img fxFlexOffset="5" src="../../../assets/images/svg/tg.svg" alt="" />
      </div>
    </div>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>
        Правила пользования сайтом <br />
        телекоммуникационной компании «Транстелеком»
      </li>
      <li>Публичный договор для физических лиц</li>
      <li>Публичный договор по услуге IaaS</li>
      <li>Проверка исходящих электронных документов</li>
      <li>Онлайн подключение к услугам связи</li>
    </ul>

    <ul class="company" fxLayout="column" fxLayoutAlign="space-between start">
      <li>
        Скачать инструкцию по установке <br />
        сертификата безопасности
      </li>
      <li>Сертификат безопасности</li>
      <li>Корпоративное мотивационное приложение</li>
      <li>Кодекс деловой этики</li>
    </ul>
  </div>

  <hr class="delimiter" />

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="logo">
      <img src="../../../assets/images/svg/logo.svg" alt="" />
    </div>
    <div fxFlexOffset="5">
      <p>
        © 2022, АО «КИНО ОНЛАЙН». ВСЕ ПРАВА ЗАЩИЩЕНЫ <br />
        Телефон доверия : 8 (7172) 61-01-01
      </p>
    </div>
    <div class="info">
      <p>
        Продолжая использовать наш сайт, вы даете согласие на обработку файлов
        Cookies и других <br />
        пользовательских данных, в соответсвии с Политикой конфиденциальности.
      </p>
    </div>
  </div>
</footer>
