<section class="free">
  <h2 class="free-title">Смотреть фильмы онлайн бесплатно</h2>
  <hr class="delimiter" />
  <div class="film-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="film-img"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <p>Удача</p>
      <div
        class="film-item"
        fxLayout="column"
        fxLayoutAlign="end start"
        [ngStyle]="{
          background: 'url(../../../assets/images/svg/udacha.svg) 0 0 no-repeat'
        }"
      >
        <div>
          <span class="yellow">IMDb</span><span class="scale">8.55</span>
        </div>
        <span class="year">2022</span>
        <h2>Удача</h2>
        <button class="view-online" (click)="showClip('udacha')">
          Смотреть онлайн
        </button>
      </div>
    </div>

    <div
      class="film-description"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <p>Год 2022</p>
      <p fxFlexOffset="5">
        Страна США, <br />
        Испания Жанр фэнтези, мультфильм, приключения, комедия, семейный
      </p>
      <p fxFlexOffset="5">
        Сколько себя помнит, Сэм всегда была страшной неудачницей. Невезение
        <br />
        распространяется на все сферы жизни, доставляет массу беспокойства и ей,
        <br />
        и окружающим, что очень огорчает саму виновницу неразберихи
      </p>
      <button class="" fxFlexOffset="5" (click)="showClip('udacha')">
        Смотреть онлайн
      </button>

      <p fxFlexOffset="20">Еще нет отзывов</p>
    </div>

    <div
      class="film-additionally"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <img src="../../../assets/images/svg/star.svg" alt="" />
      <div class="dates">06-08-2022</div>
    </div>
  </div>

  <hr class="delimiter" />
  <div class="film-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="film-img"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <p>Дом дракона (1 сезон)</p>
      <div
        class="film-item"
        fxLayout="column"
        fxLayoutAlign="end start"
        [ngStyle]="{
          background: 'url(../../../assets/images/svg/dracon.svg) 0 0 no-repeat'
        }"
      >
        <div>
          <span class="yellow">IMDb</span><span class="scale">8.55</span>
        </div>
        <span class="year">2022</span>
        <h2>Дом дракона (1 сезон)</h2>
        <button class="view-online" (click)="showClip('dragon')">
          Смотреть онлайн
        </button>
      </div>
    </div>

    <div
      class="film-description"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <p>Год 2022</p>
      <p fxFlexOffset="5">
        Страна США, <br />
        Испания Жанр фэнтези, мультфильм, приключения, комедия, семейный
      </p>
      <p fxFlexOffset="5">
        Сколько себя помнит, Сэм всегда была страшной неудачницей. Невезение
        <br />
        распространяется на все сферы жизни, доставляет массу беспокойства и ей,
        <br />
        и окружающим, что очень огорчает саму виновницу неразберихи
      </p>
      <button fxFlexOffset="5" (click)="showClip('dragon')">
        Смотреть онлайн
      </button>

      <p fxFlexOffset="20">Еще нет отзывов</p>
    </div>

    <div
      class="film-additionally"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <img src="../../../assets/images/svg/star.svg" alt="" />
      <div class="dates">06-08-2022</div>
    </div>
  </div>

  <hr class="delimiter" />
  <div class="film-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="film-img"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <p>Тор: Любовь и гром</p>
      <div
        class="film-item"
        fxLayout="column"
        fxLayoutAlign="end start"
        [ngStyle]="{
          background: 'url(../../../assets/images/svg/tor.svg) 0 0 no-repeat'
        }"
      >
        <div>
          <span class="yellow">IMDb</span><span class="scale">8.55</span>
        </div>
        <span class="year">2022</span>
        <h2>Тор: Любовь и гром</h2>
        <button class="view-online" (click)="showClip('tor')">
          Смотреть онлайн
        </button>
      </div>
    </div>

    <div
      class="film-description"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <p>Год 2022</p>
      <p fxFlexOffset="5">
        Страна США, <br />
        Испания Жанр фэнтези, мультфильм, приключения, комедия, семейный
      </p>
      <p fxFlexOffset="5">
        Сколько себя помнит, Сэм всегда была страшной неудачницей. Невезение
        <br />
        распространяется на все сферы жизни, доставляет массу беспокойства и ей,
        <br />
        и окружающим, что очень огорчает саму виновницу неразберихи
      </p>
      <button fxFlexOffset="5" (click)="showClip('tor')">
        Смотреть онлайн
      </button>

      <p fxFlexOffset="20">Еще нет отзывов</p>
    </div>

    <div
      class="film-additionally"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <img src="../../../assets/images/svg/star.svg" alt="" />
      <div class="dates">06-08-2022</div>
    </div>
  </div>

  <hr class="delimiter" />
  <div class="film-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="film-img"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <p>Добыча</p>
      <div
        class="film-item"
        fxLayout="column"
        fxLayoutAlign="end start"
        [ngStyle]="{
          background: 'url(../../../assets/images/svg/dobuha.svg) 0 0 no-repeat'
        }"
      >
        <div>
          <span class="yellow">IMDb</span><span class="scale">8.55</span>
        </div>
        <span class="year">2022</span>
        <h2>Добыча</h2>
        <button class="view-online" (click)="showClip('dobuha')">
          Смотреть онлайн
        </button>
      </div>
    </div>

    <div
      class="film-description"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <p>Год 2022</p>
      <p fxFlexOffset="5">
        Страна США, <br />
        Испания Жанр фэнтези, мультфильм, приключения, комедия, семейный
      </p>
      <p fxFlexOffset="5">
        Сколько себя помнит, Сэм всегда была страшной неудачницей. Невезение
        <br />
        распространяется на все сферы жизни, доставляет массу беспокойства и ей,
        <br />
        и окружающим, что очень огорчает саму виновницу неразберихи
      </p>
      <button fxFlexOffset="5" (click)="showClip('dobuha')">
        Смотреть онлайн
      </button>

      <p fxFlexOffset="20">Еще нет отзывов</p>
    </div>

    <div
      class="film-additionally"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <img src="../../../assets/images/svg/star.svg" alt="" />
      <div class="dates">06-08-2022</div>
    </div>
  </div>
</section>
